<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tooltip</title>
<!--    <link rel="stylesheet" href="assets/css/main.css">-->
</head>
<body>
    <castel-schadencard
            img="assets/img/icon_Schaden.png"
            card-titel="Schaden melden"
            card-subtitel="Alle Onlineformulare für Ihre Schadenmeldung."
            card-button-color="#206641"
            card-button-text-color="#fff">button text
    </castel-schadencard>

    <script src="schadenCard.js"></script>
</body>
</html>