<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card using slots</title>
</head>
<body>
    <castel-slotcard>
        <span>img="assets/img/icon_Schaden.png</span>
        <span slot="titel">Schaden melden</span>
        <span slot="subtitel">Alle Onlineformulare für Ihre Schadenmeldung.</span>
        <span slot="button-color">#206641</span>
        <span slot="button-text-color">#fff</span>
    </castel-slotcard>

    <script src="slotCard.js.js"></script>
</body>
</html>